html {
  height: 100vh;
}

body {
  margin: auto;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}

a:hover {
  color: #898989;
}

img {
  max-width: 100%;
}

/****************************************************************************** Toggle Menu
****************************************************************************/

nav {
  display: flex;
  justify-content: center;
  height: 100px;
}

.menu-toggle p {
  font-size: 1.6em;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: black;
}


.menu-toggle {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 100%;
  top: 50px;
  left: 50%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.cross {
  top: -40px;
  position: relative;
}

.cross span {
  display: flex;
  flex-direction: column;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;

  background: #cdcdcd;
  border-radius: 3px;

  opacity: 0;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}


.cross span:first-child {
  transform-origin: top;
}

.cross span:nth-last-child(1) {
  transform-origin: 0% 100%;
}


.menu-toggle input:checked ~ .cross span
{
  opacity: 1;
  transform: rotate(45deg) translate(1px, 5px);
  background: black;
}

.menu-toggle input:checked ~ .cross span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked ~ .cross span:nth-last-child(1)
{
  transform: rotate(-45deg) translate(5px, -1px);
}

.menu-toggle input {
  display: block;
  width: 60px;
  height: 32px;
  position: absolute;
  top: 15px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.menu-toggle input:checked ~ p {
  opacity: 0;
  transform: translateY(-30px);
}

.menu-toggle input:checked ~ span {
  opacity: 1;
}

.menu {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  margin-top: 5px;
  padding: 0;

  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translateY(-200%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 18px;
}


.menu-toggle input:checked ~ ul {
  transform: none;
}

/**************************************************************************
Footer
***************************************************************************/

footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 15px;
}




/*****************************************************************************
Home page
*************************************************************************/

.intro {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'balboa-plus-primary', sans-serif;
  font-size: 4.8em;
  text-align: center;
  width: 70%;
  height: 70vh;
  margin: auto;
  padding: 20px;
  border: solid 5px;
}

.title p {
  margin: auto;
}

figure {
  display: inline-block;
  margin: auto;
  height: 100%;
  width: 100%;
}

figcaption {
  text-align: center;
  margin: auto;
  width: 100%;
}

.page-title {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  margin: 60px 0;
}

.page-title h1,
.page-title h3 {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.page-title h1 {
  font-family: 'balboa-plus-fill', sans-serif;
  font-size: 2.8em;
}

.page-title h3 {
  font-family: 'balboa-plus-inline', sans-serif;
  font-size: 1.6em;
}

.story-intro {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  text-align: center;
  width: 90%;
  margin: 0 auto 40px auto;
}

.story {
  display: flex;
  justify-content: center;
  flex-flow: wrap; 
  width: 90%;
  margin: auto;
  /* box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4); */
}

.story p {
  display: flex;
  justify-content: center; 
  text-align: center;
  line-height: 1.6em;
  width: 100%;
  padding: 20px;
  margin: auto;
  
}

/********************************************************************************
Wedding Day
*****************************************************************************/

.wedding-day-info {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
}

.wedding-day h3 {
  font-family: 'balboa-plus-fill', sans-serif;
  font-size: 1.8em;
  letter-spacing: .065em;
  display: flex;
  justify-content: center;
  width: 85%;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 1px #000000 solid;
}

.wedding-day-info p {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  width: 80%;
  margin: 5px auto;
}

.date-time {
  margin-top: 40px;
}

.tram-info {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
  line-height: 1.3em;
  margin: 50px auto;
  border: #000000 solid;
}

.tram-info p {
  margin: 20px;
}

.tram-info span {
  font-weight: bold;
}

.location h4 {
  font-family: 'balboa-plus-fill', sans-serif;
  font-size: 1.4em;
  text-align: center;
  margin: 15px auto;
}

.location p {
 font-size: 1.2em;
 width: 100%;
}

iframe {
  width: 100%;
  margin: 40px 0;
}

.wedding-day-info ul {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  list-style-type: none;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  padding: 0;
}

.wedding-day-info ul li {
  margin: 10px auto;
  line-height: 1.6em;
}

/*******************************************************************************
Registry
*******************************************************************************/

.registry-title h1 {
  margin: 0;
}

.registry-info {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
  line-height: 1.5em;
  width: 80%;
  margin: auto;
}

.honeyfund-link {
  font-family: 'balboa-plus-fill', sans-serif;
  font-size: 1.6em;
  border: solid black 2px;
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.honeyfund-link p {
  display: flex;
  margin: auto;
}

/*******************************************************************************
RSVP
*******************************************************************************/
.rsvp-title {
  margin: 10px auto;
}


.rsvp-info {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 80%;
  margin: 0 auto;
}

.rsvp-info h3 {
  font-family: 'balboa-plus-fill', sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin: 0;
}

.rsvp-info p {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

form {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 70%;
  margin: auto;
}

form input {
  border: #000000 solid 1px;
  width: 100%;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: flex-start;
}


form div {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: flex-start;
}

form div label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.attending-yes, 
.attending-no {
  display: flex;
  width: 100%;
  height: 40px;
}

.attending-yes input,
.attending-no input {
  width: 20px;
  margin: 0;
}

.attending-yes label,
.attending-no label {
  width: 100%;
  margin-left: 20px;
}

.form-button {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 40px;
  margin: 40px auto 0 auto;
  border: #000000 solid 2px;
}

.form-button button {
  text-align: center;
  margin: auto;
  padding: 0;
  font-family: 'balboa-plus-fill', sans-serif;
  font-size: 1.5em;
}
abbr {
  color: red;
}

/*******************************************************************************
ipad screen media queries
******************************************************************************/

/***** Homepage *********/

@media screen and (min-width: 700px) {

  .page-title {
    margin: 100px auto 20px;
  }

  .title p {
    width: 70%;
    font-size: 1.5em;
  }

  .menu-toggle p,
  .menu-toggle input {
    /* height: 10px; */
    margin: 0;
    opacity: 0;
  }

  .menu {
  transform: none;
  transition: none;
  margin: 20px auto;
  flex-flow: row wrap;
  align-content: space-around;
  width: 100%;
  }

  .menu ul li,
  .menu a {
    display: flex;
    width: 20%;
    align-content: space-around;
  }

  .cross {
    top: -300px;
  }
  
  section {
    flex: 0;
  }

  .story-intro {
    margin-top: 30px;
  }

  /*********************************************
  Wedding day
  *********************************************/

  .wedding-day {
    margin-top: 60px;
  }

  .tram-info {
    width: 60%;
  }

  .wedding-day-info ul {
    font-size: 1.5em;
  }

  /*********************************************
  Registry
  *********************************************/

  .registry-info {
    margin: 60px auto 245px auto;
    width: 60%;
  }

  .honeyfund-link {
    margin-top: 60px;
  }

  /********************************************
  RSVP
  *******************************************/

form input {
  margin: 0;
  width: 60%;
}

form {
  margin: auto 30%;
}

.form-button {
  margin-left: 5%;
}

}

/*******************************************************************************
Screen width: 800px
*****************************************************************************/

@media screen and (min-width: 800px) {
  .story {
    width: 60%;
    text-align: justify;
  }
}

/*******************************************************************************
Fullscreen
*******************************************************************************/

@media screen and (min-width: 1200px) {

  /************************************************
  Home screen
  ************************************************/

  img {
    display: flex;
    margin: auto;
    height: 100vh;
  }

  /************************************************
  Wedding day
  ************************************************/

  .tram-info {
    width: 40%;
  }

  iframe {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 80px auto;
  }

  /************************************************
  Registry
  ***********************************************/

  .registry-info {
    width: 50%;
  }

  /************************************************
  RSVP
  ***********************************************/

  form {
    margin-left: 32%;
  }

  form input {
    width: 50%;
  }

  .form-button {
    margin-left: 10%;
    width: 30%;
  }
}